body {
  background-color: #bde1bd;
  text-align: center;
}

#sally {
  position: relative;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 20px 0px;
}

#dress {
  position: absolute;
  left: 300px;
  top: 285px;
  height: 450px;
  z-index: 10;
}

#pajamas {
  position: absolute;
  left: 200px;
  top: 275px;
  height: 600px;
  z-index: 10;
}

#work {
  position: absolute;
  left: 280px;
  top: 200px;
  height: 650px;
  z-index: 10;
}